.redLine
{
    text-indent: 20px;
}
.img
{
    position: fixed;
}
body
{
    margin: 15% 30% 10% 30%;
}
h1
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
h3
{
    font-family: 'Anton', sans-serif;
    margin: 20px 0 -18px 0;
}
p
{
    line-height: 23px;
    text-align: justify;
    font-family: 'PT Serif', serif;
}