.redLine
{
    text-indent: 1.25em;
}
.img
{
    position: fixed;
    margin-left: -35px;
}
body
{
    margin: 20% 30% 10% 30%;
}
h1
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
h3
{
    font-family: 'Anton', sans-serif;
    margin: 20px 0 -18px 0;
}
p
{
    line-height: 1.4375em;
    text-align: justify;
    font-family: 'PT Serif', serif;
}