html
{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
}
.Heading
{
    margin: 50px 0 0 0;
    text-align: center;
    font-family: 'Inika', serif;
    font-weight: bold;
}
.Marvel
{
    margin: 0 -10% 0 0;
}
.MovieHead /* Для заголовка фильмов*/
{
    font-family: 'Inika', serif;
    margin: 18% 1.5% 10px 0;
    text-align: right;
}
.CameoHead /* Для заголовка камео*/
{
    font-family: 'Inika', serif;
    margin: 18% 0 10px 1.5%;
    text-align: left;
}
.Stan
{
    margin: 45px 0 15px 0;
    text-align: center;
    font-weight: 200;
    font-family: 'Marvel', sans-serif;
    font-size: 4em;
}
hr
{
    margin: 0 1.5% 0 76%;
}
p
{
    text-align: center;
    margin: 0 32% 0 32%;
    font-family: 'Marvel', sans-serif;
}
.MovieP
{
    font-size: 1.2em;
    font-family: 'Assistant', sans-serif;
    line-height: 2.9375em;
    margin: 0 1.5% 0 0;
    text-align: right;
}
.CameoP
{
    font-size: 1.2em;
    line-height: 2.9375em;
    margin: 0 0 0 1.5%;
    font-family: 'Assistant', sans-serif;
    text-align: left;
}
.Stick
{
    margin: 0 94% 0 0;
}
