header
{
    display: block;
    background-color: #c8df47;
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 80%;
    width: 100%;
    padding: 5px 0 5px 0;
    position: relative;
}
main
{
    border: 2px solid #c8df47;
    margin: 10px 25% 10px 25%;
    font-size: 110%;
}
footer
{
    display: block;
    background-color: #c8df47;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
    font-size: 200%;
    width: 100%;
}


body
{
    margin: -5px;
}
.image
{
    display: inline-block;
    margin: 0 45% 0 16%;
    padding: 5% 0 0 0;
}
.second-heading
{
    font-family: 'Amatic SC', cursive;
    color: rgb(21, 129, 148);
    margin: 20px 0 20px 4%;
}
.mainText
{
    font-family: 'Comfortaa', cursive;
    display: block;
    margin: 0 4% 0 4%;
}
hr
{
    color: gray;
    margin: 23px;
}
.forPinoAndGlint
{
    display: inline-block;
    margin: 2% 45% 0 16%;
}
.Welcome
{
    font-family: 'Comfortaa', cursive;
    display: block;
    margin: 0 4% 30px 4%;
}
