body
{
    font-family: 'Lora', serif;
    font-weight: 100;
    margin: 0;
}
h1
{
    font-weight: 100;
}
.heading
{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
}
p
{
    margin-bottom: 2em;
}
.firstTable
{
    padding: 2.4em;
    border: 2px solid #000;
    border-right: 1px solid #000;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.7em;
}
.secondTable
{
    padding: 2.4em;
    border-left: 1px solid #000;
    border: 2px solid #000;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.7em;
}
.grids
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: lightgray;
}
.ending
{
    display: block;
    text-align: center;
    width: 100%;
}
